*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.main_box
.start_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
  border-bottom: 1px solid #4da3ff;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 40px;
}

.main_box {
  min-height: 100px;
  text-align: center;
  background: white;
  border-top: solid 3px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  padding: 20px;
  /* display: none; */
}

.main_box header {
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_box h1 {
  font-size: 25px;
}

.main_box .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 30px;
  background: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 10px;
}

.main_box  #timer_text {
  font-weight: bolder;
  font-size: 15px;
}

.main_box #timer_sec {
 font-size: 15px;
 font-weight: bold;
}

.main_box section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

#start_msg {
  line-height: 1.5;
}

#answer_box {
  display: none;
}

#answer_btn {
  border: none;
  background-color: #cce5ff;
  border-radius: 10px;
  color: black;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  margin: 5px;
  padding: 14px 24px;
  text-align: left;
  cursor: pointer;
  width: 300px;
}

#answer_btn:hover {
  background: #35a0fd
}

.complete_text {
  text-decoration: underline;
}

#start_btn {
  border: none;
  background-color: #0056b3;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  margin: 16px 16px 16px 20px;
  padding: 14px 24px;
  text-align: center;
  cursor: pointer;
}

#initialsAndScore_box {
    padding: 12px;
    font-size: 14px;
    border: solid 1px #000000;
    display: none;
}

#goBack_btn {
  border: none;
  background-color: #0056b3;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#clear_btn {
  border: none;
  background-color: #0056b3;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#initial_box {
  display: none;
}

/* media query */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

}